.chat__message{"data-message-id": "#{message.id}"}
  .chat__message__info
    %p.chat__message__user
      = message.user.name
    %p.chat__message__data
      = message.created_at.strftime("%Y年%m月%d日 %H:%M")
  .chat__message__text
    - if message.content.present?
      %p.chat__message__content
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?

